BODY {

	color: #000000;
}


A {
	text-decoration: underline;
	color: #630063;
}

A:Hover {
	text-decoration: none;
	color: #9C319C;
}

.style2 {
	color: #630063;
	font-weight: bold;
	font-size: 11px;
	font-family: Tahoma;
}


