a:link {
    color: #0000cd;
    background-color: transparent:
}
a:visited {
    color: #8a2be2;
    background-color: transparent:
}
a:hover {
    color: #a9a9a9;
    background-color: transparent:
}
a:active {
    color: #483d8b;
    background-color: transparent:
}

td th {
    padding: 10px 10px;
}
      
p.resource {
    text-align: center;
    font-size: 125%;
    border: thick solid #9370db;
    background-color: #e6e6fa;
    padding: 15px;
    margin: 5px 5px;
    border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
    -moz-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
    -webkit-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;

    
}
