* {
  box-sizing: border-box;
}
body {
    font-family: monospace, Times;
		background-color: #BB7CFF;
		margin: 25px;
		border-style: groove;
    border-color: black;
		padding: 10px 10px 20px 10px;
}
h1 {
    text-align: center;
}
.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    font-size: large;
}
.main-nav li {
    float: left;
}
.main-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline overline;
    border-right: solid;
}
.main-nav li a:hover {
    background-color: #727272;
}
header {
  background-color: #444444;
  padding: 10px;
  text-align: center;
  font-size: 35px;
  color: white;
}
aside {
  float: right;
  width: 30%;
  height: 1500px; 
  background: #ccc;
  padding: 20px;
}
article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 1500px;
}
section:after {
  content: "";
  display: table;
  clear: both;
}
footer {
  background-color: #777;
  padding: 20px;
  text-align: center;
  color: white;
}
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
.circle1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation: slide 5s infinite;
  }
#circle1-2 {
  animation-timing-function: step-end;
  background-color: #E84855;
  }
#circle2-2 {
  animation-timing-function: ease-in;
  background-color: #0099FF;
  }
#circle3-2 {
  animation-timing-function: cubic-bezier(0, 1, .76, 1.14);
  background-color: #FFCC00;
  }
#container-2 {
  width: 550px;
  background-color: #FFF;
  border: 3px #CCC dashed;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0 auto;
  }
@keyframes slide-2 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(380px, 0, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
li a {
  color: #7E094C;
  text-decoration: none;
  transition: all .2s ease-out;
  padding: 2px;
}
li a:hover {
  background-color: #B4B4B4;
}

